.kurikulum {
    padding: 60px 50px;
}

.kurikulum__profile {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 68vh;
}

.kurikulum__detail,
.kurikulum__boxThumb {
    grid-column: 1/2;
    grid-row: 1/2;
}

.kurikulum__detail {
    opacity: 0;
    transform: scale(.98);
    visibility: hidden;
    display: grid;
    grid-template-columns: 46vw 1fr;
    grid-template-rows: 1fr;
    transition: .4s ease;
}

.kurikulum__detail-1 {
    z-index: 1;
}

.kurikulum__detail-2 {
    z-index: 2;
}

.kurikulum__detail-3 {
    z-index: 3;
}

.activeDetail {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}

.kurikulum__boxImg {
    width: 102%;
    grid-column: 1/2;
    grid-row: 1/2;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    overflow: hidden;
    position: relative;
}

.kurikulum__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.kurikulum__boxImg::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, rgba(0,0,0,.9) 30%, transparent 100%);
}

.kurikulum__title {
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    justify-self: start;
    color: #FFFFEA;
    font-family: 'Raleway';
    transform: translateX(25px);
}

.kurikulum__title h2 {
    font-size: 26px;
    font-weight: 500;
}

.kurikulum__title h1 {
    font-size: 32px;
    font-weight: 600;
}

.kurikulum__desc {
    font-family: 'Nunito';
    background-color: #fff;
    justify-self: end;
    padding: 20px;
    padding-left: 30px;
    grid-column: 2/3;
    grid-row: 1/2;
    transform: scaleY(1.1);
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(0,0,0,.15);
    overflow: auto;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: min-content;
    grid-gap: 15px;
}

.kurikulum__desc > div {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.kurikulum__desc > div h1 {
    color: #212121;
    font-size: 26px;
    font-weight: 700;
    position: relative;
    padding-left: 18px;
}

.kurikulum__desc > div h1::after {
    content: '';
    position: absolute;
    background-color: #FFD947;
    border-radius: 10px;
    width: 8px;
    height: 100%;
    top: 0;
    left: 0;
}

.kurikulum__desc > div p,
.kurikulum__desc .penutup ol {
    color: #303030CC;
    font-size: 16px;
    text-align: justify;
}

.kurikulum__desc .penutup ol {
    list-style: decimal;
    list-style-position: inside;
    text-indent: -18px;
    margin-left: 20px;
    text-align: left;
}

.kurikulum__boxThumb {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-auto-rows: min-content;
    grid-gap: 15px;
    align-items: center;
    align-self: flex-end;
    justify-self: start;
    transform: translate(25px, -50px);
    z-index: 4;
}

.kurikulum__thumb {
    position: relative;
    cursor: pointer;
}

.kurikulum__thumbImg {
    width: 100px;
    transition: .3s ease;
}

.activeThumb .kurikulum__thumbImg {
    width: 110px;
}

.activeThumb::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .6);
    z-index: 2;
}

.activeThumb::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 110%;
    height: 114%;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);;
    background-color: #FFB11F;
    z-index: -1;
}