.galeri__carousel .swiper-button-prev, 
.galeri__carousel .swiper-button-next {
    color: #fff !important;
    -webkit-tap-highlight-color: transparent;
    opacity: .7;
    transition: .15s ease;
}

.galeri__carousel .swiper-button-prev:hover, 
.galeri__carousel .swiper-button-next:hover {
    opacity: 1;
}

.galeri__carousel .swiper-button-prev {
    transform: translateX(10px);
}

.galeri__carousel .swiper-button-next {
    transform: translateX(-10px);
}

.galeri__carousel .swiper-button-prev::before, 
.galeri__carousel .swiper-button-next::before {
    opacity: .7;
}

.galeri__carousel .swiper-button-prev:hover::before, 
.galeri__carousel .swiper-button-next:hover::before {
    opacity: 1;
}

.galeri__box {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px 40px;
    margin-top: 1.25rem;
    box-shadow: inset 0px -4px 20px rgba(233, 216, 166, 0.2), inset 0px 4px 20px rgba(233, 216, 166, 0.2);
    border-radius: 30px;
}

.galeri__imgBox {
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    height: 130px;
}

.galeri__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(.5);
    transition: .2s ease;
}

.galeri__imgBox:hover .galeri__img {
    transform: scale(1.2);
    filter: grayscale(0);
}

.kegiatan {
    display: grid;
    grid-template-columns: 250px 200px 1fr;
    grid-template-rows: repeat(2, 200px);
    grid-gap: 20px;
    padding: 30px;
    background-color: #FFE6CC;
    border-radius: 40px;
    margin-top: 30px;
}

.kegiatan .kegiatan__box:first-child {
    grid-column: 1/2;
    grid-row: 1/3;
}

.kegiatan__box {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.kegiatan__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    transform: scale(1.1);
    transition: .2s ease;
}

.kegiatan__box:hover .kegiatan__img {
    transform: scale(1.18);
}

.kegiatan__desc {
    align-self: end;
    background-image: linear-gradient(to top, #000 2%, transparent 100%);
    padding: 20px 15px 15px;
    z-index: 2;
}

.kegiatan__img,
.kegiatan__desc {
    grid-column: 1/2;
    grid-row: 1/2;
}

.kegiatan__desc h2 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    text-align: left;
}