:root {
    --swiper-navigation-size: 30px !important;
}

/* body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  background: transparent; 
}
 
body::-webkit-scrollbar-thumb {
  background: #d49115; 

}

body::-webkit-scrollbar-thumb:hover {
  background: #9c6c13; 
} */

.fixBody {
  height: 100%;
  overflow: hidden;
}

.header {
  z-index: 11;
}

.header__link {
  position: relative;
}

.active {
  font-weight: 700;
}

.active::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #ffb11f;
    /* font-weight: bold;
    border-bottom: 3px solid #ffb11f; */
  }

.home {
    background: #FFFFEA;
}

.about {
    background: #FFFFEA;
}

.contact {
    background-color: rgba(255, 217, 71, .4);
}

.swiper-container {
    width: 100%;
}

.swiper-button-prev::before, .swiper-button-next::before {
    content: '';
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #FFB11F;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: .15s ease;
}

.swiper-slide {
    width: 100%;
}

/* Blur Effect */

.section__intro,
.section__visi,
.section__features,
.section__prakata {
  position: relative;
}

.section__visi-box {
  position: relative;
  z-index: 9;
}

.section__intro {
  z-index: 9;
}

.intro__heading,
.intro__img {
  z-index: 2;
}

.blur {
  position: absolute;
  width: 60%;
  z-index: 1;
}

.blur__intro--1 {
  top: 0;
  right: 0;
}

.blur__intro--2 {
  top: 5%;
  left: 0;
}

.blur__visi {
  top: -250%;
  left: 0;
}

.visi-misi-stroke {
  z-index: 2;
}

.leaf {
  z-index: 3;
}

.features__heading,
.features__subheading,
.features__content {
  position: relative;
  z-index: 2;
}

.blur__features--1 {
  top: -100%;
  right: 0;
}

.blur__features--2 {
  bottom: -100%;
  right: 0;
}

.prakata__img {
  z-index: 2;
}

.blur__prakata--1 {
  top: -100%;
  left: 0;
}

.blur__prakata--2 {
  bottom: -50%;
  left: 0;
}

.blur__profile--1 {
    top: 20%;
    left: 0;
}

.blur__profile--2 {
    top: 0;
    right: 0;
}

.profile__table {
    z-index: 2;
}

.blur__pengajar {
    bottom: -100%;
    right: 0;
}

.blur__sejarah--1,
.blur__sejarah--2,
.blur__sejarah--3 {
  height: 100%;
}

.blur__sejarah--1 {
  bottom: -20%;
  left: 0;
}

.blur__sejarah--2 {
  top: -30%;
  left: 0;
}

.blur__sejarah--3 {
  top: -10%;
  right: 0;
}