body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.visi-misi-size {
  font-size: 261.983px;
}

.visi-misi-stroke {
  color: rgba(255, 177, 31, 0.1);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
}

.table-border {
  border-collapse: separate;
  border-spacing: 8px;
  *border-collapse: expression("separate", cellSpacing= "10px");
}
